*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

.container{
    background-color: rgb(116, 161, 10);
}

.container .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container .link {
    color: #000;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    height: 8vh;
    display: flex;
    align-items: center;
}

.cepmek {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 91vh;
}
